@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 14.5%);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: hsl(0 0% 70.8%);
  --color-sidebar-border: hsl(0 0% 92.2%);
  --color-sidebar-accent-foreground: hsl(0 0% 20.5%);
  --color-sidebar-accent: hsl(0 0% 97%);
  --color-sidebar-primary-foreground: hsl(0 0% 98.5%);
  --color-sidebar-primary: hsl(0 0% 20.5%);
  --color-sidebar-foreground: hsl(0 0% 14.5%);
  --color-sidebar: hsl(0 0% 98.5%);
  --color-chart-5: hsl(70 100% 76.9%);
  --color-chart-4: hsl(84 100% 82.8%);
  --color-chart-3: hsl(227 100% 39.8%);
  --color-chart-2: hsl(184 100% 60%);
  --color-chart-1: hsl(41 100% 64.6%);
  --color-ring: hsl(0 0% 70.8%);
  --color-input: hsl(0 0% 92.2%);
  --color-border: hsl(0 0% 92.2%);
  --color-destructive: hsl(27 100% 57.7%);
  --color-accent-foreground: hsl(0 0% 20.5%);
  --color-accent: hsl(0 0% 97%);
  --color-muted-foreground: hsl(0 0% 55.6%);
  --color-muted: hsl(0 0% 97%);
  --color-secondary-foreground: hsl(0 0% 20.5%);
  --color-secondary: hsl(0 0% 97%);
  --color-primary-foreground: hsl(0 0% 98.5%);
  --color-primary: hsl(0 0% 20.5%);
  --color-popover-foreground: hsl(0 0% 14.5%);
  --color-popover: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 14.5%);
  --color-card: hsl(0 0% 100%);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.5%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.5%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.5%);
  --primary: hsl(0 0% 20.5%);
  --primary-foreground: hsl(0 0% 98.5%);
  --secondary: hsl(0 0% 97%);
  --secondary-foreground: hsl(0 0% 20.5%);
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(0 0% 55.6%);
  --accent: hsl(0 0% 97%);
  --accent-foreground: hsl(0 0% 20.5%);
  --destructive: hsl(27 100% 57.7%);
  --border: hsl(0 0% 92.2%);
  --input: hsl(0 0% 92.2%);
  --ring: hsl(0 0% 70.8%);
  --chart-1: hsl(41 100% 64.6%);
  --chart-2: hsl(184 100% 60%);
  --chart-3: hsl(227 100% 39.8%);
  --chart-4: hsl(84 100% 82.8%);
  --chart-5: hsl(70 100% 76.9%);
  --sidebar: hsl(0 0% 98.5%);
  --sidebar-foreground: hsl(0 0% 14.5%);
  --sidebar-primary: hsl(0 0% 20.5%);
  --sidebar-primary-foreground: hsl(0 0% 98.5%);
  --sidebar-accent: hsl(0 0% 97%);
  --sidebar-accent-foreground: hsl(0 0% 20.5%);
  --sidebar-border: hsl(0 0% 92.2%);
  --sidebar-ring: hsl(0 0% 70.8%);
}

.dark {
  --background: hsl(0 0% 14.5%);
  --foreground: hsl(0 0% 98.5%);
  --card: hsl(0 0% 20.5%);
  --card-foreground: hsl(0 0% 98.5%);
  --popover: hsl(0 0% 20.5%);
  --popover-foreground: hsl(0 0% 98.5%);
  --primary: hsl(0 0% 92.2%);
  --primary-foreground: hsl(0 0% 20.5%);
  --secondary: hsl(0 0% 26.9%);
  --secondary-foreground: hsl(0 0% 98.5%);
  --muted: hsl(0 0% 26.9%);
  --muted-foreground: hsl(0 0% 70.8%);
  --accent: hsl(0 0% 26.9%);
  --accent-foreground: hsl(0 0% 98.5%);
  --destructive: hsl(22 100% 70.4%);
  --border: hsl(0 0% 10%);
  --input: hsl(0 0% 15%);
  --ring: hsl(0 0% 55.6%);
  --chart-1: hsl(264 100% 48.8%);
  --chart-2: hsl(162 100% 69.6%);
  --chart-3: hsl(70 100% 76.9%);
  --chart-4: hsl(304 100% 62.7%);
  --chart-5: hsl(16 100% 64.5%);
  --sidebar: hsl(0 0% 20.5%);
  --sidebar-foreground: hsl(0 0% 98.5%);
  --sidebar-primary: hsl(264 100% 48.8%);
  --sidebar-primary-foreground: hsl(0 0% 98.5%);
  --sidebar-accent: hsl(0 0% 26.9%);
  --sidebar-accent-foreground: hsl(0 0% 98.5%);
  --sidebar-border: hsl(0 0% 10%);
  --sidebar-ring: hsl(0 0% 55.6%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
